<!DOCTYPE html>
<html lang='pt-br'>
<head>
  <meta charset='UTF-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  <title>Happy Chat</title>
  <link rel='shortcut icon' type='image/png' href='./icon.png' />
  <link rel='stylesheet' href='./style.css' />
  <script src='https://cdn.socket.io/4.6.0/socket.io.min.js' integrity='sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+' crossorigin='anonymous'></script>
</head>
<body>
  <span id='something-went-wrong'>Alguma coisa deu errado!</span>

  <header id='header'>
    <h1 id='room'>Sessão</h1>
  </header>

  <main id='container'>
    <ul id='messages'></ul>

    <form id='form' action=''>
      <input id='write-message' autocomplete='off' placeholder='Digite uma mensagem...' />
      <button id='send-message'>Enviar</button>
    </form>
  </main>

  <script src='./main.js'></script>
</body>
</html>
